/* */
h1{
    color :blueviolet;
}
h2{
    color :fuchsia;
}
h3{
    color :chartreuse;
}
h4{
    color :crimson;
}
h5{
    color :chocolate;
}
h6{
    color :darkgreen;
}
div{
    border: 2px solid red;
    width : 300px;
    left : 200px;
    background-color:rgb(245, 245, 180);
}
img{
    border : 1px dashed darkgreen;
    border: 80%;
    margin-top: 50px;
    margin-left: 25px;
}